.shortcutsContentContainer {
  display: flex;
  align-items: center;
}

.shortcutsKeyCombo {
  background-color: rgba(220, 220, 220, 0.5);
  width: fit-content;
  margin-top: 2%;
  font-size: 0.8em;
  padding: 0.5em;
}

.shortcutsTitle {
  font-weight: 300;
  font-size: 1.2em;
}

.shortcutsSpacing {
  margin: 3%;
}

.shortcutsContainer {
  padding: 1em 1em 1em 3em !important;
}
