.card-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: white; */
}

.card-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.card-modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 200;
  border-radius: calc(var(--ifm-global-radius) * 2);
  background-color: var(--ifm-background-surface-color);
}

.card-demo {
  height: 100%;
}

.card {
  height: 100%;
}
