.header {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 2% 0 0 0;
}

.card-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 200;
  border-radius: calc(var(--ifm-global-radius) * 2);
  background-color: var(--ifm-background-surface-color);
}

.card-demo {
  height: 100%;
}

.card {
  height: 100%;
}

.shortcuts-header {
  font-size: 2em;
  text-align: center;
}

.shortcuts-container {
  padding: 0 1em 0 1em !important;
}

.shortcuts-title {
  font-weight: 300;
  font-size: 1.5em;
}

.shortcuts-key-combo {
  background-color: rgba(220, 220, 220, 0.5);
  width: fit-content;
  margin-top: 2.5%;
  padding: 0.5em;
}

.shortcuts-spacing {
  margin: 3%;
}

.shortcuts-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
