.header {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 2% 0 0 0;
}

.shortcuts-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.shortcuts-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.shortcuts-modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 200;
  border-radius: calc(var(--ifm-global-radius) * 2);
  background-color: var(--ifm-background-surface-color);
}

.card-demo {
  height: 100%;
}

.card {
  height: 100%;
}

.shortcuts-header {
  font-size: 2em;
  text-align: center;
  padding: 0 0 0.8em 0;
}

.shortcuts-header-container {
  background-color: rgba(220, 220, 220, 0.3);
}

.shortcuts-container {
  padding: 1em 1em 1em 3em !important;
}

.shortcuts-title {
  font-weight: 300;
  font-size: 1.2em;
}

.shortcuts-key-combo {
  background-color: rgba(220, 220, 220, 0.5);
  width: fit-content;
  margin-top: 2%;
  font-size: 0.8em;
  padding: 0.5em;
}

.shortcuts-spacing {
  margin: 3%;
}

.shortcuts-content-container {
  display: flex;
  align-items: center;
}

.shortcuts-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shortcuts-pills {
  border-radius: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
